<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2 class="text-muted mb-3">Register</h2>
        <form action="/auth/register" method="POST" notvalidate> 
            <div class="form-row">
                <div class="form-group col">
                    <label for="firstName">FirstName</label>
                    <input type="text" name="firstName" id="firstName" class="form-control"
                    {{#if userInput.firstName}}
                    value="{{userInput.firstName}}" 
                    {{/if}}
                    >
                </div>

                <div class="form-group col">
                    <label for="lastName">LastName</label>
                    <input type="text" name="lastName" id="lastName" class="form-control"
                     {{#if userInput.lastName}}
                     value ="{{userInput.lastName}}"
                    {{/if}}
                    >
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control"
                {{#if userInput.email}}
                value ="{{userInput.email}}"
                {{/if}}
                >
           </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control"
                    {{#if userInput.password}}
                     value ="{{userInput.password}}"
                    {{/if}}
                    >                
                    </div>
                <div class="form-group col">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="Password" name="confirmPassword" id="confirmPassword" class="form-control"
                    {{#if userInput.confirmPassword}}
                     value ="{{userInput.confirmPassword}}"
                    {{/if}}
                    >
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Regisrer">

        </form>
    </div>
</div>